@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Pixel';
    src: url('../fontes/SuperPixel-m2L8j.ttf') format('truetype');
}

@font-face {
    font-family: 'Gamer';
    src: url('../fontes/04B_30__.TTF') format('truetype');
}

@font-face {
    font-family: 'Pixelify';
    src: url('../fontes/PixelifySans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Keni';
    src: url('../fontes/Kelvinized.ttf') format('truetype');
}

:root {
    --cor01: #191427;
    --cor02: #381b74;
    --cor03: 
    --cor04: 
    --cor05: 
    --cor06: 
}

:root {
    --font01: "Mulish", sans-serif;
    --font02: "Pixelify", sans-serif;
    --font03: "Work Sans", sans-serif;
    --font04: "Press Start 2P", system-ui;
}

:root {
   --cursor-default: url(../Imagens/Mouse.png), auto;
   --cursor-pointer: url(../Imagens/MouseClick.png), auto;
}

* {
    box-sizing: border-box;
    letter-spacing: 1px;
    scroll-behavior: smooth;
    transition: scroll 0.2s linear;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    
}

body {
    background-image: url('../Imagens/backgroundapenas.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: monospace;
    flex-direction: column;
}

a, button {
    cursor: var(--cursor-pointer);

}

html {
    cursor: var(--cursor-default);
}

/* Cabeçalho */

header {
    padding: 28px;
    background-color: var(--cor01);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}


#logo-text {
    font-family: 'Pixelify', sans-serif;   
    font-size: 40px;
    color: white;
    margin-right: auto;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    margin-inline: auto;
}

#nav_logo {
    margin-right: 24px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: auto;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-family: "Work sans", sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: var(--cor02);
}

.arrow {
    transition: transform 0.3s;
}

.nav-item a:hover .arrow {
    transform: rotate(90deg); 
}

.hamburger {
    border: none;
    background: none;
    border-top: 3px solid white;
    cursor: pointer;
    display: none;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
}

@media (max-width: 900px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .hamburger.active > .header {
        background: transparent;
        box-shadow: none;
    }

    #nav_list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        min-width: 500px;
        height: 50vh;
        background: #191427;
        clip-path: circle(10px at 100vw -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    #nav_list a {
        font-size: 20px;
        opacity: 0;
        color: white;
        transition: opacity 0.5s ease-in-out;
    }

    #nav_list a:hover {
        font-size: 22px;
        padding: 20px;
        border-radius: 25px;
        transition: 0.3s;
        color: #603da7;
    }

    #navbar.active #nav_list a {
        opacity: 1;

    }

    #navbar.active #nav_list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
        width: 100vw;
        min-width: 500px;
        max-width: 3000px;
    }

    .nav-item {
        display: none;
    }

    #navbar.active .nav-item {
        display: block;
    }

    #navbar {
        margin-left: -55px;
    }

    #nav_logo {
        display: block;
        margin: auto;
        margin-right: 20px; 
    }

    #logo-text {
        display: block;
        text-align: center;
    }
}

/* Conteúdo principal */

main {
    flex: 1;
}

.text, 
#text-game {
    color: white;
    text-align: center;
    margin: 50px;
}

#text-game {
    margin-top: 100px;
}

h1.main {
    font-family: 'Pixelify';
    font-size: clamp(20px, 8vw, 65px);
    margin-top: 200px;
}

h2.main {
    margin: 60px;
    font-size: clamp(10px, 3vw, 25px);
    font-family: 'Pixelify';
}

h2.main-game {
    margin: 60px;
    font-size: clamp(16px, 3vw, 25px);
    text-wrap: balance;
    font-family: 'Pixelify';
}

p.main {
    font-family: "Mulish", sans-serif;
    margin-top: 30px;
    font-weight: 300;
    font-size: clamp(11px, 2vw, 16px);

}

.slider {
    position: relative;
    width: 100%;
    height: 370px;   
}

.item {
    position: absolute;
    width: 200px;
    height: 320px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
    box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.568);
}

.item:hover {
    background-color: #8159f863;
}

.item:active {
    box-shadow: 0px 0px 12px 3px #8159f863;
    transition: 0.1s;
}

#next, #prev {
    position: absolute;
    top: 36%;
    color: white;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-weight: bold;
    left: 272px;
    z-index: 10;
}

#prev {
    left: 10%;
  }

#next {
    left: unset;
    right: 10%;
}

.img-slider {
    width: 60px;
    margin-top: 110px;
}

.img-center {
    margin: auto;
    display: block;
    margin-top: 117.5px;
    width: 45px;
}

.fundo {
    background-color: rgba(255, 255, 255, 0.123);
    width: clamp(320px, 90%, 900px);
    box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.473);
    height: clamp(550px, 70vw,600px);
    border-radius: 20px 0px;
    margin: auto;
    margin-bottom: 200px;
    padding: clamp(20px, 5vw, 50px);
}

.fundo2 {
    background-color: rgba(255, 255, 255, 0.123);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 700px;
    min-width: 300px;
    box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.445);
    height: 500px;
    border-radius: 20px 0px;
    margin: 100px auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(20px, 5vw, 50px);
}
 
@media (max-width: 900px) {
    .fundo {
        width: 440px;
    }

    .tela {
        width: 300px;
    }

    .fundo2 {
        max-width: 430px;
    }

    .font-game {
        font-size: 20px;
    }

    iframe {
        width: 200px;
    }
}


.font-game {
    font-family: "Pixelify", sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 40px;
    font-size: clamp(40px, 6.5vw, 65px);
    text-shadow: 1px 4px 0px #15011d42;
}

.tela {
    background-color: rgba(255, 255, 255, 0.384);
    width: clamp(450px, 90%, 600px);
    height: clamp(450px, 60vw, 460px);
    border-radius: 20px 0px;
    box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.445);
    overflow: hidden;
    position: relative;
    aspect-ratio: 4 / 3;
}

.texto-contato {
    text-align: center;
    display: block;
    color: white;
    font-family: 'Work Sans', sans-serif;
    margin-top: 70px;
    font-size: 18px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.507);
}

a.texto-contato2 {
    text-align: center;
    display: block;
    color: white;
    font-family: 'Gamer', sans-serif;
    margin-top: 70px;
    font-size: clamp(15px, 3vw, 20px);
    text-decoration: underline;
}

a:hover {
    color: #381b74;
    transition: all 0.3s ease-in-out;
}

.img-contato {
    display: block;
    margin: auto;
    margin-top: 90px;
    width: 45px;
}

iframe {
    width: 100%;
    height: 918px;
    border: none;
    position: relative;
}

@media (max-width: 700px) {
    #game {
        display: none;
    }

    #img-jongas {
        margin-top: 100px;
    }
}

/* Rodapé */

footer {
    width: 100%;

}

#img-jongas {
    display: flex;
    justify-content: center;
}

#footer_content {
    background-color: var(--cor01);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 1.5rem;
    
}

#footer_contats {
    padding: -10px;
}

#footer_contacts h1 {
    margin-bottom: 0.75;
    font-family: 'Pixelify', sans-serif;
    text-transform: uppercase;
    color: white;
}

#footer_contacts p {
    margin-bottom: 0.75;
    font-family: var(--font03);
    color: white;
}

#footer_social_media {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.footer-link {
    text-decoration: none;
    font-family: var(--font03);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list h3 {
    font-family: var(--font02);
    color: white;
}

.footer-list .footer-link {
    color: white;
    transition: color 0.3s;
}

.footer-list .footer-link:hover {
    color: var(--cor02);
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: white;
}

#footer_subscribe h3 {
    font-family: var(--font02);
}

#footer_subscribe p {
    font-family: var(--font03);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--cor02);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: black;
    border: none;
    color: white;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--cor01);
    font-size: 0.9rem;
    font-family: var(--font03);
    color: white;
}