@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Informações */
:root {
    --cor01: #191427;
    --cor02: #381b74;
    --cor03: 
    --cor04: 
    --cor05: 
    --cor06: 
}

:root {
    --font01: "Mulish", sans-serif;
    --font02: "Pixelify Sans", sans-serif;
    --font03: "Work Sans", sans-serif;
    --font04: "Press Start 2P", system-ui;
}

:root {
   --cursor-default: url(../Imagens/Mouse.png), auto;
   --cursor-pointer: url(../Imagens/MouseClick.png), auto;
}

/* Interface */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

a, button {
    cursor: var(--cursor-pointer);

}

html {
    cursor: var(--cursor-default);
}

body{
    background-color: black;
    background-image: url(../Imagens/backgroundapenas.png);
    color: white;
    padding-top: 150px;
}


/* cabeçalho */

header {
    padding: 28px 8%;
    background-color: var(--cor01);
    margin-bottom: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#logo-text {
    font-family:"Pixelify Sans", sans-serif;   
    font-size: 40px;
    color: white;
    margin-right: auto;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    margin-right: 24px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: var(--cor02);
}

.arrow {
    transition: transform 0.3s;
}

.nav-item a:hover .arrow {
    transform: rotate(90deg); 
}


/* Menu */

#section_one {
    color: white;
    font-family: var(--font02);
    text-transform: uppercase;
    text-align: center;
    margin-top: 200px;
}

#section_one p {
    font-family: var(--font03);
}

.text-primary {
    font-size: 50px;
}

.selection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 50px 5%;
}

.selection-container img.img-gameboy {
    height: auto;
    width: 75%;
}

.btn {
    position: absolute;
    top: 80%;
    left: 90%;
    transform: translate(-220%, -40%);
    -ms-transform: translate(-220%, -40%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-left {
    position: absolute;
    top: 80%;
    right: 90%;
    transform: translate(180%, -40%);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#text {
    position: absolute;
    font-family: var(--font04);
    top: 85%;
    left: 49%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 100%;
    text-align: left;
    width: 24%;
    color: #32cd32;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    line-height: 1.5;
}

#text::after {
    content: '|';
    animation: blink 1s infinite;
    color: white;
    margin-left: 5px;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { OPACITY: 0;}
}

.selection-container p {
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}
#section_two {
    display: grid;
    color: white;
    font-family: var(--font02);
    text-transform: uppercase;
    text-align: center;
    margin-top: 500px; 
}

#section_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.membro {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60%;
}
.text-secord {
    width: 70%; 
    text-align: left;
    font-family: var(--font03);
}

.imagem {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 35%;
    height: auto;
}

#img-jongas {
    display: flex;
    justify-content: center;
}

/* Rodapé */
footer {
    width: 100%;
    
}


#footer_content {
    background-color: var(--cor01);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75;
    font-family: var(--font02);
    text-transform: uppercase;
}

#footer_contacts p {
    margin-bottom: 0.75;
    font-family: var(--font03);
}

#footer_social_media {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}
.footer-link {
    text-decoration: none;
    font-family: var(--font03);
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-list h3{
font-family: var(--font02);
}

.footer-list .footer-link {
    color: white;
    transition: color 0.3s;
}

.footer-list .footer-link:hover {
    color: var(--cor02);
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe h3 {
    font-family: var(--font02);
}

#footer_subscribe p {
    font-family: var(--font03);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--cor02);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: black;
    border: none;
    color: white;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--cor01);
    font-size: 0.9rem;
    font-family: var(--font03);
}

